<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplusdemo.mapper.MerchantInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplusdemo.model.domain.MerchantInfo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="status" property="status" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="selectByAccountAndPassword" resultType="com.example.mybatisplusdemo.model.domain.MerchantInfo">
        SELECT * FROM merchant_info
        WHERE
            (username = #{account} OR phone = #{account} OR email = #{account})
          AND password = #{password}
    </select>
    <select id="listPage" resultMap="BaseResultMap">
        select * from merchant_info
        <where>
            is_deleted = 0
            and status = #{merchant.status}
            <if test="merchant.username != null and merchant.username != ''">
                and username like '%${merchant.username}%'
            </if>
        </where>
    </select>

</mapper>
