<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplusdemo.mapper.ShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplusdemo.model.domain.Shop">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="address" property="address" />
        <result column="merchant_name" property="merchantName" />
        <result column="logitude" property="logitude" />
        <result column="latitude" property="latitude" />
        <result column="avg_rating" property="avgRating" />
        <result column="description" property="description" />
        <result column="cover" property="cover" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="price_range" property="priceRange" />
        <result column="tag" property="tag" />
    </resultMap>

    <select id="listPage" resultType="com.example.mybatisplusdemo.model.domain.Shop">
        select * from shop
        <where>
            is_deleted = 0
            <if test="shop.avgRating != null">
                and avg_rating > #{shop.avgRating}
            </if>
            <if test="shop.categoryId != null">
                and categoryId = #{shop.categoryId}
            </if>
        </where>
    </select>

</mapper>
