<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplusdemo.mapper.UserBrowseHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplusdemo.model.domain.UserBrowseHistory">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="merchant_id" property="merchantId" />
        <result column="browse_time" property="browseTime" />
        <result column="stay_duration" property="stayDuration" />
        <result column="create_time" property="createTime" />
        <result column="update-time" property="update-time" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
